#mastHead { position: static;
           top: 0px;
           left: 0px;
           width: 100%;
           height: auto;
           background-color: #CCC;
			border:none;
            color: navy;
            text-align: left;

            }
#linkIndex{ position: absolute;
            left: 0px;
			top: 0px
            width: 20%;
			float: left;
            padding: 3px;
			border:none;
            padding-bottom: 150px;
 }
#contentsBox{ position: absolute; 
              right: 0px; 
			  width: 80%;
			  float: left;
              padding: 3px 3px;
			  border:none;
              border-left: 2px solid orange; }
#placeholder1 {clear: both;}

/*redefine linkIndex for pretty links*/
#linkIndex>a{ display: block;
              padding: 1px 1px;
		   	  padding-left: 8px;
              font-weight: bold;
              font-size: 100%;
			  color: navy;
              border-left: 1px solid #fff;}

/*New style rules for Improvements page*/
#linkIndex>a,#linkIndex>a:link{ text-decoration:none; }
#linkIndex>a:visited{ color: green; }

/* Horizontal Separator */
hr {
	margin: 40px 0;
	border: 0;
	border-top: 1px solid #094CFA;
}

.hr1 {
  border: 0;
  border-top: 1px solid #CCC;
}

.hr2 {
  border: 0;
  border-top: 1px dashed #CCC;
}

.hr3 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);  
}

.hr4 {
  border: 0;
  border-top: 1px dashed #CCC;
  border-bottom: 2px solid #CCC;
  height: 3px;
}

.hr5 {
  border: 0;
  border-top: medium double #CCC;
  height: 1px;
  overflow: visible;
  padding: 0;
  color: #CCC;
  text-align: center;
}

.hr5::after {
  content: "¶";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  background: white;
}
